{# errors Symfony\Component\Validator\ConstraintViolationListInterface #}
{# error Symfony\Component\Validator\ConstraintViolationInterface #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">{{ title|default('Dependency Injection') }}</h1>


{% endblock %}